* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: grey;
  background-color: white;
  border: 1px solid blue;
  height: 100%;
  padding: 2rem;
  overscroll-behavior-y: none;

  /*
  */
}

.open_page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login {
  display: grid;
  margin-top: 100vh;
  /*
  justify-content: center;
  */
}
.login input {
  padding: 1rem 3rem;
  font-size: 2em;
  text-align: center;
  width: 35rem;
  height: 6rem;
  margin: 1rem;
  border-radius: 10rem;
  border: 1px solid rgba(63, 63, 247, 0.432);
  transition: all 0.3s;
}

.login input:focus {
  outline: none;
  border: 1px dashed green;
}

.login input::placeholder {
  color: rgba(63, 63, 247, 0.432);
}
.login input:hover {
  border: 1px solid green;
}

.login_button,
.register-button {
  border: none;
  background: none;
  height: 5rem;
  margin: 1rem;
  border-radius: 10rem;
  border: 1px solid rgba(63, 63, 247, 0.432);
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 10rem;
  font-size: 2rem;
  color: inherit;
  transition: all 0.3s;
}

.login_button:hover,
.login_button:focus,
.register-button:hover,
.register-button:focus {
  outline: none;
  color: green;
  border: 2px dashed green;
}

.open-page-register {
  display: grid;
  text-align: center;
  margin-top: 100vh;
  /*
  */
}
.open-page-register p {
  font-size: 3rem;
  margin: 1rem;
}

/*
//
// 
Sidebar
//
//
*/
.main__content {
  display: flex;
  border: 1px dashed red;
  height: 94vh;

  /*
  
  padding: 3rem 4rem 3rem 5rem;
  position: relative;
  overflow: hidden;
  overscroll-behavior-y: none;
  */
}

.sidebar {
  flex-basis: 45rem;
  border: 2px dashed darkblue;
  background-color: rgba(199, 192, 128, 0.685);
  display: flex;
  flex-direction: column;
  color: rebeccapurple;
  padding: 3rem;
  justify-content: center;
}

.details {
  background-color: rgba(77, 77, 143, 0.548);
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  border: 1px dashed yellow;
}
/*

Form working

*/
.form {
  border-radius: 5px;
  border: 1px dashed blue;
  display: grid;
  place-content: center;
  transition: all 0.5s, transform 1ms;

  /*
  
  place-items: center;
  */
}
.sidebar .form .form__row {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  /*

*/
}

.sidebar .form .form__row label {
  width: 200px;
  margin-right: 14px;
  font-size: 14px;
}

.sidebar .form .form__row input {
  width: 100%;
  outline: none;
  resize: none;
  padding: 8px 10px;
}

.sidebar .form .form__input--type {
  position: relative;
  width: 100%;
  height: 3rem;
}

.sidebar .form .form__input--type:before {
  content: "";
  position: absolute;
  pointer-events: none;
}

.sidebar .form .form__input--type select {
  outline: none;
  height: 100%;
  border: 1px solid red;
}
.sidebar .form .form__row input :focus {
  border: 4px solid blue;
}
.form.hidden {
  transform: translateY(-30rem);
  opacity: 0;
}
.form__label {
  flex: 0 0 10%;
  font-size: 1.5em;
  font-weight: 600;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .sidebar .form .form__row {
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid red;
  }
  .sidebar .form .form__label {
    margin-bottom: 15px;
    border: 2px solid red;
  }
}
